@import url("styles/secaoPrincipal.css");
@import url("styles/secaoSobreMim.css");
@import url("styles/secaoObjetivo.css");
@import url("styles/secaoServicos.css");
@import url("styles/secaoContato.css");
@import url("styles/rodape.css");

:root {
    --preto-principal: #000000;
    --branco-sec: #FFFFFF;
    --cinza-tec: #BFC3C4;
    --fonte-principal: "Work Sans", serif;
    --fonte-secundaria: "Tinos", serif;
}




