.secao-objetivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--preto-principal);
}

.titulo-secao-objetivo {
    display: flex;
    justify-content: center;
    
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 40px;
    color: var(--branco-sec);

    margin-top: 40px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.objetivo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6rem 15rem 6rem 15rem;
}

.objetivo-texto {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    width: 70%;

    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--branco-sec);
}

.objetivo-texto_descricao {
    width: 80%;
    line-height: 35px;
    letter-spacing: 0.14em;
}