.secao-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--preto-principal);
}

.titulo-secao-contato {
    display: flex;
    justify-content: center;
    
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 40px;
    color: var(--branco-sec);

    margin-top: 40px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem 0 8rem 0;
}

.contato-info {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
    color: var(--branco-sec);
    box-sizing: border-box;
    border: 1px solid var(--branco-sec);
    border-left: 0;
    padding: 5rem;
}